:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #d9d9d9e6;  
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;  
  height: 100vh;  
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    /* background-color: black; */
    background-color: #3498db;
    position: fixed;
    width: 100%;
    z-index: 999;
    order: 1;
}

.caja {
    height: 70px;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
}

.caja1,
.caja2 {
    width: 55px;
}

.caja1 {
    justify-content: center;
    /* background-color: red;  */
    background-color: #3498db;
}

.caja2 {
    justify-content: center;
    /* background-color: green; */
    background-color: #3498db;
    padding-left: 10px; 
}

.caja3 {
    flex-grow: 1;
    /* justify-content: center;     */
    /* padding: 10px; */ /* causaba error */
    /* background-color: darkgray; */
    background-color: #3498db;
    padding-left: 5px; 
    justify-content: flex-start;    
    padding-right: 5px;
}

.caja4 {
    flex-grow: 1;
    /* justify-content: flex-end; */
    justify-content: center;
    column-gap: 20px;
    /* background-color: blue; */
    background-color: #3498db;
}

/* CONTENT */
.content{
    margin-top: 70px;
}
 
@media screen and (max-width: 768px) {
    .header {
        flex-wrap: wrap;
    }

    .caja {
        height: 70px;
    }

    .caja1 {
        flex-basis: 55px;
        order: 1;
    }

    .caja4 {
        order: 1;
        flex-basis: calc(100% - 110px);
    }

    .caja3 {
        order: 2;
        flex-basis: calc(100% - 110px);
        border-top: solid;
        border-color: white;
        border-width: 1px;
    }

    .caja2 {
        flex-basis: 55px;
        order: 4;
        border-top: solid;
        border-color: white;
        border-width: 1px;
    }

    .divider-hidden {
        display: none;
    }    

    .content{
        margin-top: 140px;
    }
}

@media only screen and (max-width: 480px) {
    .header {
        flex-wrap: wrap;
    }

    .caja {
        height: 70px;
    }

    .caja1 {
        flex-basis: 55px;
        order: 1;
    }

    .caja4 {
        order: 1;
        flex-basis: calc(100% - 110px);
    }

    .caja3 {
        order: 2;
        flex-basis: calc(100% - 110px);
        border-top: solid;
        border-color: white;
        border-width: 1px;
    }

    .caja2 {
        flex-basis: 55px;
        order: 4;
        border-top: solid;
        border-color: white;
        border-width: 1px;
    }

    .box-carousel{
      width: 250px;
    } 
}
 
/* OTROS */
/* nav.caja4 {
  display: flex;
  align-items: center;
}

nav.caja4>div {
  margin: 0 10px;
}

.content{
  order: 2;
  margin-top: 120px
  
} */








.footer {
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
